<script>
  window.location.reload();
</script>
<div class="landing-page">
  <header>
    <div class="container" ng>
      <a routerLink="/home" class="logo">E-<b>Commerce</b></a>
      <a *ngIf="isAuth" class="nav-link">Welcome {{ username || 'User' }}</a>
      <ul class="links">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="isAuth" routerLink="/products">Products</a>
        </li>
        <li *ngIf="isAuth" class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li *ngIf="!isAuth" class="nav-item">
          <a class="nav-link1" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="nav-item">
          <a class="nav-link1" routerLink="/login" (click)="logout()">Sign out</a>
        </li>
      </ul>
    </div>
  </header>
</div>
