<!-- Start Landing Page -->
<div class="landing-page">
  <div class="content">
    <div class="container">
      <div class="info">
        <h1>Best Prices</h1>
        <p>
          Choose Your Products , add them to cart , Pay with Debit Card Fast And
          Easy !
        </p>
        <button *ngIf="!isAuth">Log-in</button>
        <button *ngIf="isAuth">See Products</button>
      </div>
      <div class="image">
        <img src="./assets/image.png" />
      </div>
    </div>
  </div>
</div>
<!-- End Landing Page -->
